.gboxx {
    padding: 70px 5vw;
    background-color: #000;
}
.gboxx h1 {
    color: #fff;
    text-align: center;
}
.pht {
    width: 100%;
    padding: 1vw 5vw;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}
.photo {
    width: 24%;
    height: 200px;
    background-color: #0ff8;
}
.lasttt {
    padding-bottom: 70px;
}