* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
header {
    background-color: #000;
    height: 90vh;
    color: #fff;
    padding: 5vw;
}
.header {
    background-color: #000;
    padding: 15px 5vw 15px 5vw;
    position: fixed;
    color: #fff;
    width: 100vw;
    z-index: 10;
}
.header img {
    border-radius: 100%;
    width: 50px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a {
    text-decoration: none;
    color: #fff;
}
a.active {
    color: #0ff;
}
.nav a:hover {
    color: #0ff;
}
.links {
    display: flex;
    column-gap: 30px;
}
.hdrst {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.hdrst .exp {
    width: 50%;
}
.hdrst .imgddg {
    width: 45%;
    background-color: #0ff3;
    border-radius: 30px;
    height: 100%;
    background-image: url('https://wxheedm.github.io/ICT-211-Group-25/stpimg.jpeg');
    background-position: center;
    background-size: cover;
}
.hdrst .exp h1 {
    font-size: 60px;
    line-height: 60px;
}
.abbtn {
    text-decoration: none;
    color: #0ff;
    font-size: 25px;
    font-weight: bold;
    border: 5px solid #0ff;
    padding: 10px 40px;
    border-radius: 50px;
    line-height: 70px;
    transition: 0.4s;
}
.abbtn:hover {
    color: #000;
    padding: 10px 50px;
    background-color: #0ff;
}
.hhdd {
    background-image: url('https://wxheedm.github.io/ICT-211-Group-25/bg3.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.hhdd2 {
    background-color: #044a;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 5vw;
}
@keyframes bob {
    0% {
        transform: scale(100%);
    }
    25% {
        opacity: 0.7;
    }
    50% {
        transform: scale(105%);
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: scale(100%);
    }
}
.hhdd2 h1 {
    font-size: 90px;
    text-align: center;
    color: #fff;
    line-height: 70px;
    animation-name: bob;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    text-shadow: 10px 10px 0 #000;
    margin-top: 40vh;
}
.hhdd2 h1 span {
    font-size: 50px;
    text-shadow: none;
}
@keyframes bobup {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}
.hhdd2 p {
    margin-bottom: 40px;
    color: #0f8;
    display: flex;
    align-items: center;
    animation-name: bobup;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.hhdd2 i {
    margin-right: 10px;
}
footer {
    text-align: center;
    font-size: 12px;
    padding: 0 5vw 20px 5vw;
    color: #fff;
    background-color: #000;
}
hr {
    margin-bottom: 20px;
}
ul {
    margin-left: 30px;
    margin-bottom: 30px;
}
ul span {
    color: #0f8;
}
ul a {
    color: #fff;
}
#dsk {
    display: flex;
}
#phn {
    display: none;
}
#phn i {
    font-size: 20px;
    margin-left: 10px;
}
.links2 {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 90%;
    transform: translate(0%, 85%);
    background-color: #0008;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    backdrop-filter: blur(20px);
    display: none;
}
